.card {
    box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
    background: rgb(219, 214, 214);
    height: 300px;
}
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 160px;
        height: 42px;
        background-color: #394752;
        border-radius: 20px;
        font-size: 14px;
        color: #FFFFFF;
        text-transform: uppercase;
        padding-top: 5px;
        transition: all 0.4s;
        box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
    }
    .form-group{
        display: block;
        width: 100%;
        background: transparent;
        font-family: Josefin Sans;
        font-size: 16px;
        line-height: 1.4;
        border: none;
        outline: none;
        height: 70px;
        padding: 0 20px 0 23px; 


    }
    
          
        

.body{
background-color: transparent;
}