<!DOCTYPE html>
<html>

<head>
    <title>Catering-web</title>
</head>

<body>
    <!-- Side navigation -->
    <div class="sidenav">
        <a href="#">Request</a>
        <a href="#">Quotation</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
    </div>

    <!-- Page content -->
    <div class="main">
        <div >
            <div class="container">
                <a mat-raised-button style="margin-top: 50px; margin-bottom: 50px;" routerLink="/add-gallery">Add Gallery</a>
                <mat-grid-list cols="4">
                    <mat-grid-tile  *ngFor="let galleryPic of galleryPic">
                        <mat-card class="example-card" style="margin-bottom:40px">
                            <img mat-card-image src={{galleryPic.picture}} alt="...">
                            
                            <mat-card-title>
                               {{galleryPic.category}}
                            </mat-card-title>

                            <mat-card-subtitle>
                                {{galleryPic.name}}
                             </mat-card-subtitle>
                           
                          </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </div>
</body>

</html>